<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ES6实战</title>
</head>
<p>123</p>
<p>234</p>
<p>456</p>
<p>657</p>

<body>
    <script src="/js/index.js" charset="utf-8"></script>
</body>

</html>